menu
    .logo
        a(href="/")
            img(src="~/src/assets/logo.png")

    .flex-grow

    ul
        each path, name in site.menu
            if dev
                - path = `${path}index.pug`;

            li
                a(class={"current": name == menuEntry}, href=path)= name
