extends ../../layout.pug

block settings
    - var title = "Vedana's thanks";
    - var menuEntry = "Team";
    - var description = "Original Verdana's thanks to all people contributed to mod life";

block content
    include:markdown original-thanks.md
