extends ../../layout.pug

block settings
    - var title = "Installation";
    - var menuEntry = "Installation";
    - var description = "Guide on installation Mine Little Pony for Minecraft 1.14+";

block content
    include:markdown index.md
