extends ../../layout.pug

block settings
    - var title = "Installation for v1.12";
    - var menuEntry = "Installation";
    - var description = "Guide on installation Mine Little Pony mod for Minecraft 1.12";

block content
    include:markdown legacy.md
