@import "variables";

footer {
    background: $stripe-url repeat-x top center / 50% 5px #eee;
    color: #999;
    font-size: 0.9em;
    line-height: 1.5rem;
    padding: 35px $content-padding 30px;
    text-align: center;

    a {
        color: inherit;
    }
}
